@model ShoppinglistApp.Models.ShoppingListViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Shoppinglist</h4>
<div class="container">
	<div class="row">
		<hr />
		<dl class="col-md">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ListID)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ListID)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ListName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ListName)
			</dd>

		</dl>

		<dl class="col-md">
			<dt class="col-sm-5">
				<span>List items</span>
		</dt>
			@foreach (ShoppinglistApp.Models.ShoppingListItem i in Model.Items)
			{
			<dd class="col-sm-10">
				@Html.Raw(i.ItemName)
			</dd>
		}
		</dl>
	</div>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ListID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
