@model IEnumerable<ShoppinglistApp.Models.SharedListModel>

@{
	ViewData["Title"] = "SharedLists";
}

<div class="row">
	<div class="col text-center p-5 py-5 px-2">
		<h2>Lists shared with me</h2>
	</div>
</div>

@if (TempData["Message"] != null)
{
	<script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            };
	</script>
}
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.UserEmail)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FriendEmail)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ListName)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.UserEmail)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FriendEmail)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ListName)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.ListID">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.ListID">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>