@model IEnumerable<ShoppinglistApp.Models.SharedListModel>

@{
    ViewData["Title"] = "SharedLists";
}

<h1>Lists shared with me</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
